.myBox { white-space:nowrap;}
div.field_with_errors{ margin-bottom: 15px;}
ul.preview_attachments,.wrap{ word-wrap: break-word;}
.wi18{width: 18px;}
.br15{border-radius: 15px;}
.round-btn{
  content: "\f058";
  color: #fff;
  position: absolute;
  right: 10px;
  top: 10px;
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 22px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  }

.formBox.bgColorG{
  background: #8fb91c !important; padding: 25px 35px 15px; border: 1px solid #eaeaea; border-radius: 5 px;
  color: #fff !important
}
.programTable .ptAvatar2{ width: 90px;}