#changePasswordModal.modal.fade{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-md{:role => "document"}
    .modal-content
      .modal-body
        .formField
          = form_for('', url: update_old_password_user_index_path , :multipart => true, :remote => true, :html => {:class => "",:id => "updateOldPasswordUser"}) do |f|
            %table.tableForm{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
              %tbody
                %tr
                  %td#stepBtnModalHeight{:width => "100%"}
                    .formBox
                      #forgotPasswordNotice 
                      .formTitle.form-group
                        =t("general.change_password")
                      .form-group
                        = password_field_tag :old_password, '', :class => "form-control", :placeholder => t("change_password.current_password")
                      .form-group
                        = password_field_tag :new_password, '', :class => "form-control", :placeholder => t("change_password.new_password")
                      .form-group
                        = password_field_tag :password_confirmation, '', :class => "form-control", :placeholder => t("change_password.confirm_password")
                      .row.row7
                        .col-xs-12.col-sm-6
                          .form-group
                            %button.btn.btn-primary.btn-lg.btn-block
                              =t("general.change_password")
                        .col-xs-12.col-sm-6
                          .form-group
                            %button.btn.btn-blue.btn-lg.btn-block{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
                              =t('general.back')