- if @dentists.present?
  - @dentists.each do |dentist|
    = render :partial => 'dentist', :locals => {dentist: dentist}
  - if @dentists.count > Settings.system.per_page
    - count = params[:page].to_i + 1
    = link_to next_users_dentists_path(count), :remote => true, :class => "loadMore jscroll-next" do
      %i.downArrow
      = t("general.next")